// ############################################################################ BODY ############################################################################

* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "greycliff-cf", sans-serif;
  font-style: normal;
  font-weight: 400;
  @include fontSize(1.6rem);
  line-height: 1.5;
  color: #404040;
}

h1 {
  font-family: "Open Sans", sans-serif;
  @include fontSize(4rem);
  font-weight: $font-weight-bold;
  line-height: 1.5;
}

h2 {
  font-family: "Open Sans", sans-serif;
  @include fontSize(3.4rem);
  font-weight: $font-weight-bold;
  line-height: 1.5;
}

h3 {
  font-family: "Open Sans", sans-serif;
  @include fontSize(2.8rem);
  font-weight: $font-weight-bold;
  line-height: 1.5;
}

h4 {
  font-family: "Open Sans", sans-serif;
  @include fontSize(2.2rem);
  font-weight: $font-weight-semi-bold;
  line-height: 1.5;
}

h5 {
}

p {
  font-family: "greycliff-cf", sans-serif;
  font-style: normal;
  font-weight: 400;
  @include fontSize(1.6rem);
  line-height: 1.5;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

ul,
ol {
  li {
  }
}

.container-fluid-grid {

  .row {
    margin: 0;
  }

  .fluid-split-section-item {

    @include breakpoint(lg) {
      width: 100%!important;
    }

    &.left {

        .fluid-content-wrapper {
            margin-left: auto;
            padding-left: calc(var(--bs-gutter-x) * .5);

            @include breakpoint(lg) {
              padding-left: 0;
            }
        }
    }

    &.right {

      .fluid-content-wrapper {
          margin-right: auto;
          padding-right: calc(var(--bs-gutter-x) * .5);

          @include breakpoint(lg) {
            padding-right: 0;
          }
      }
  }

    .fluid-content-wrapper {

      @include breakpoint(lg) {
        width: 100%!important;
      }
    }
  }
}

.container {
  max-width: 100%;
  padding: 0 72px;
  margin: 0;
}